Repository daveoy/carbon-postings: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-sources, build-transcode

.gitlab-ci.yml:

stages:
  - build

build-sources:
  stage: build
  image: docker:19.03.12
  rules:
  - changes:
    - Dockerfile.transcode
    - postings.py
    - sources.py
    - requirements-sources.txt
  only:
  - main
  services:
    - docker:19.03.12-dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export COMMIT_TIME=$(date +%s)
    - docker build . -f Dockerfile.sources -t $CI_REGISTRY_IMAGE:sources-$COMMIT_TIME
    - docker tag $CI_REGISTRY_IMAGE:sources-$COMMIT_TIME $CI_REGISTRY_IMAGE:sources-latest
    - docker push $CI_REGISTRY_IMAGE:sources-$COMMIT_TIME
    - docker push $CI_REGISTRY_IMAGE:sources-latest

build-transcode:
  stage: build
  image: docker:19.03.12
  rules:
  - changes:
    - Dockerfile.transcode
    - postings.py
    - transcode.py
    - requirements-transcode.py
  only:
  - main
  services:
    - docker:19.03.12-dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export COMMIT_TIME=$(date +%s)
    - docker build . -f Dockerfile.transcode -t $CI_REGISTRY_IMAGE:transcode-$COMMIT_TIME
    - docker tag $CI_REGISTRY_IMAGE:transcode-$COMMIT_TIME $CI_REGISTRY_IMAGE:transcode-latest
    - docker push $CI_REGISTRY_IMAGE:transcode-$COMMIT_TIME
    - docker push $CI_REGISTRY_IMAGE:transcode-latest

fix up jobs to remove only
  .gitlab-ci.yml
Due: none

rebuild sources with ffmpeg
  requirements-sources.txt
Due: build-sources

stash this yaml
  postings.yaml
Due: none

rebuild with role now and incluster config
  postings.yaml
  sources.py
Due: build-sources

fix up semantics
  postings.yaml
Due: none

move this logic over
  sources.py
Due: build-sources

fix up output pathing
  postings.py
Due: build-sources, build-transcode

okay ONE more
  sources.py
Due: build-sources

try using json instead
  sources.py
Due: build-sources

fix up rolebinding and verbs
  postings.yaml
Due: none

use real booleans
  sources.py
Due: build-sources

no underscores allowed
  sources.py
Due: build-sources

lowercase too please
  sources.py
Due: build-sources

need to give args duhhh
  sources.py
Due: build-sources

ooo this json gonna be the death of me
  sources.py
Due: build-sources

almost t here
  sources.py
Due: build-sources

annotate job and chop names to rfc length
  sources.py
Due: build-sources

rekey path project segment
  postings.py
Due: build-sources, build-transcode

add more annotations, remove restartpolicy and add resources block
  sources.py
Due: build-sources

apparently we need a restartpolicy...
  sources.py
Due: build-sources

use the full 63 chars -- go on with it
  sources.py
Due: build-sources

let loose on the whole enchilada
  postings.yaml
Due: none

catch duplicate job errors, remove spaces in filenames when creating objects using those names, remove underscores from source dates if present to clean up the date folder inconsistencies
  postings.py
  sources.py
Due: build-sources, build-transcode

use resource quotas to keep the herd back
  postings.yaml
Due: none

use uuids instead of tryina use names for jobs
  sources.py
Due: build-sources

cant put long strings in labels, so we'll have to go with the annotations.
  sources.py
Due: build-sources

rebuild with latest formatting, log json, also check if a job is already running for the path we're looking at
  postings.py
  sources.py
Due: build-sources, build-transcode

a few more chars to sanitize
  postings.py
Due: build-sources, build-transcode

lets just print json
  sources.py
Due: build-sources

always pull images
  sources.py
Due: build-sources

be explicit about the image tag
  sources.py
Due: build-sources

add ttl to jobs
  sources.py
Due: build-sources

use image tags
  postings.yaml
Due: none

print loop timings
  sources.py
Due: build-sources

flush stdout
  sources.py
Due: build-sources

flush job creations to stdout too
  sources.py
Due: build-sources

rebuild transcode to overwrite output
  postings.py
Due: build-sources, build-transcode

rebuild sources with new overwrite transcode tag
  sources.py
Due: build-sources

update readme
  README.md
Due: none

update image tag
  postings.yaml
Due: none
