Repository daveoy/carbon-postings: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-sources, build-transcode

.gitlab-ci.yml:

stages:
  - build

build-sources:
  stage: build
  image: docker:19.03.12
  rules:
  - changes:
    - Dockerfile.transcode
    - postings.py
    - sources.py
    - requirements-sources.txt
  only:
  - main
  services:
    - docker:19.03.12-dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export COMMIT_TIME=$(date +%s)
    - docker build . -f Dockerfile.sources -t $CI_REGISTRY_IMAGE:sources-$COMMIT_TIME
    - docker tag $CI_REGISTRY_IMAGE:sources-$COMMIT_TIME $CI_REGISTRY_IMAGE:sources-latest
    - docker push $CI_REGISTRY_IMAGE:sources-$COMMIT_TIME
    - docker push $CI_REGISTRY_IMAGE:sources-latest

build-transcode:
  stage: build
  image: docker:19.03.12
  rules:
  - changes:
    - Dockerfile.transcode
    - postings.py
    - transcode.py
    - requirements-transcode.py
  only:
  - main
  services:
    - docker:19.03.12-dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export COMMIT_TIME=$(date +%s)
    - docker build . -f Dockerfile.transcode -t $CI_REGISTRY_IMAGE:transcode-$COMMIT_TIME
    - docker tag $CI_REGISTRY_IMAGE:transcode-$COMMIT_TIME $CI_REGISTRY_IMAGE:transcode-latest
    - docker push $CI_REGISTRY_IMAGE:transcode-$COMMIT_TIME
    - docker push $CI_REGISTRY_IMAGE:transcode-latest

updated postings to use libx264 and set the qmax the same as MCR is using.
  postings.py
Due: build-sources, build-transcode

add msg field to json log output, also use env var to get transcode container image
  sources.py
Due: build-sources

updated yaml to support changing transcode container image
  postings.yaml
Due: none

add tolerations to the transcode pods
  sources.py
Due: build-sources

remove limits from transcode jobs
  sources.py
Due: build-sources

add helm chart
  .gitignore
  README.md
  helm/chart/Chart.yaml
  helm/chart/templates/postings.yaml
  helm/chart/values.yaml
  postings.py
Due: build-sources, build-transcode

split chart templates out
  helm/chart/Chart.yaml
  helm/chart/templates/SPC.yaml
  helm/chart/templates/deployment.yaml
  helm/chart/templates/postings.yaml
  helm/chart/templates/resourcequota.yaml
  helm/chart/templates/role.yaml
  helm/chart/templates/rolebinding.yaml
  helm/chart/templates/serviceaccount.yaml
Due: none

no more latest tags
  .gitlab-ci.yml
Due: none

ffs
  helm/chart/Chart.yaml
  helm/chart/templates/deployment.yaml
Due: none

lets use nodeaffinity too
  sources.py
Due: build-sources

20 pods!
  helm/chart/Chart.yaml
  helm/chart/templates/resourcequota.yaml
Due: none

change imagepullpolicy
  sources.py
Due: build-sources

affinity keys wrong
  sources.py
Due: build-sources

update readme
  README.md
Due: none

update "brand" in output
  postings.py
Due: build-sources, build-transcode

add arch diag
  README.md
  arch.drawio
  arch.png
Due: none

add post_to_teams method and send webhooks
  postings.py
  requirements-sources.txt
  requirements-transcode.txt
  sources.py
  transcode.py
Due: build-sources, build-transcode

try yuv420p to match media encoder
  FFmpeg-Logo.wine.png
  postings.py
Due: build-sources, build-transcode

pix_fmt?
  postings.py
Due: build-sources, build-transcode

clean up json key
  sources.py
Due: build-sources

try a handful of other settings
  postings.py
Due: build-sources, build-transcode

dont set crf
  postings.py
Due: build-sources, build-transcode

get time and date from the left of the path, not the right.
  postings.py
Due: build-sources, build-transcode

glob into any folder depth
  sources.py
Due: build-sources

put a minimum depth on globbed paths
  sources.py
Due: build-sources

gotta get some context here
  sources.py
Due: build-sources

guess we'll have extra NoneTypes laying around wit hthis approach. needs fixing
  sources.py
Due: build-sources

set time and date if none given
  postings.py
Due: build-sources, build-transcode

lets make sure we translate 'source' to 'transcode' at the very least
  postings.py
Due: build-sources, build-transcode
